@media screen and (max-width: 480px){
    body{
        align-items: flex-start;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        margin: 32px 16px;
        width: 343px;
    }
    img{
        width: 128px;
    }
    .box p{
        width: 343px;
    }

}