*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 64px 48px;
    flex-wrap: wrap;
    gap: 64px 32px;
    width: 1344px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.box h3{
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%; /* 24px */
    padding: 20px 0 15px 0;
}
.box p{
    color: #3C3C43;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}