*{
    margin: 0;
}
body{ height: 100vh; }
.fon{
    background: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 50%;
}
.figure{
    height: 100px;
    width: 100px;
    background-color: red;
    transition: 1s;
}
.figure:hover{
    border-radius: 50%;
    background-color: gray;
    transition: 2s;

}